@{
    ViewData["Title"] = "About";
}

<!-- Header -->
	<header id="head" style="background:#181015 url( ../images/headerAboutUs.jpg) no-repeat; background-size: cover; background-origin: content-box;">
		<div class="container">
			<div class="row">
				<h1 class="lead">ABOUT US</h1>
			</div>
		</div>
	</header>
<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">About the<br />University Scholars Club</h2>
                    <p>
                        The University Scholars Club (USC) is a community of students enrolled in the National University of Singapore (NUS) University Scholars Programme (USP), which is a multidisciplinary, partially residential academic programme for NUS undergraduates.
                    </p>
                    <p>
                        Members of the USC come from a wide array of majors spanning 7 faculties, ranging from computer science, to business, to philosophy. Possessing diverse interests and passions, members of the USC are marked by their intellectual curiosity, and are enthusiastic about learning and thinking critically, much of which stems from their daily interactions with peers and faculty.
                    </p>
                    <p>
                        They seek to emerge from NUS as graduates with the intellectual rigour, initiative, and innovative spirit to make significant contributions to society.                       
                    </p>
                    <p>
                        <b>Our Mission</b><br />
                        To facilitate the creation of a cohesive community of leaders and thinkers through stronger student, faculty and alumni engagement.
                    </p>
                    <p>
                        <b>Our Vision</b><br />
                    </p>
                    <ol>
                        <li>To Promote Informal Learning</li>
                        <li>To Bridge the Students, Faculty & Alumni </li>
                        <li>To encourage and facilitate ground up initiatives</li>
                    </ol>
                    <p>
                        For a copy of the USC Constitution, <a href="USC_Constitution_4%20July%202016.pdf">click here</a>.
                    </p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">16th Management Committee</h3>
			
			<div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_president.jpg" />
                    <h4>President</h4></div>
                    <div class="h-body text-center">
                        <p>CHEAH Wenjie</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_vp_welfare.jpg" />
                    <h4>Vice-President<br/>(Welfare)</h4></div>
                    <div class="h-body text-center">
                        <p>Devesh NARAYANAN</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_vp_commlife.jpg" />
                    <h4>Vice-President<br/>(Community Life)</h4></div>
                    <div class="h-body text-center">
                        <p>Hillary TAN</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_hongensec.jpg" />
                    <h4>Honorary General<br/>Secretary</h4></div>
                    <div class="h-body text-center">
                        <p>HONG Shao Yang</p>
                    </div>
                </div>
			</div> <!-- /row  -->
            <br/>
            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_honfinsec.jpg" />
                    <h4>Honorary Financial<br/>Secretary</h4></div>
                    <div class="h-body text-center">
                        <p>Edwin Luke WEE</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                    <img src="~/images/MC_fod.jpg" />
                    <h4>Freshmen Orientation<br />Director</h4></div>
                    <div class="h-body text-center">
                        <p>WOO Qiyun</p>
                    </div>
                </div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->
        <br class="clear" />
        <div class="mainTile">
            <div class="mainHeader" style="background-color: #002a90;">
                <div class="textPanel">
                    <h3 style="color: white; margin-top: 10px; padding-bottom: 10px;">USC Committees</h3>
                </div>
            </div>
            <div class="mainContent">
                <div class="committeeTiles">
                    <img src="~/images/USC_prcomm.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Public Relation Committee</h3>
                            <i>Headed by Cheah Wenjie, President</i>
                        </div>
                    </div>
                    <div class="mainContent">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Alumni Relations Officers</b><br />
                                    Shane Chen & Wen Yuxin
                                </p>
                                <p>
                                    <b>External Relations Officers</b><br />
                                    Abhi Parikh & Jeremy Jee
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/USC_commlifecomm.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Community Life Committee</h3>
                            <i>Headed by Hillary Tan, Vice-President (Community Life)</i>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Interest Group Coordinator</b><br />
                                    Goh Xin Ying & Nur Ridhuan
                                </p>
                                <p>
                                    <b>Ground-Up Initiative Coordinator</b><br />
                                    Jean Chia, Jessica Ting, Dexter Thng (Not Pictured), <br />
                                    Darren Leong, Tan Yan Tyng & Chng Yuqian
                                </p>
                            </p>
                        </div>
                    </div>
                    <br class="clear" />
                </div>
                <div class="committeeTiles">
                    <img src="~/images/USC_welfarecomm.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Student Welfare Committee</h3>
                            <i>Headed by Devesh Narayanan, Vice-President (Welfare)</i>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Welfare Director</b><br />
                                    Deborah Goh
                                </p>
                                <p>
                                    <b>Welfare Team</b><br />
                                    Atharv Joshi (Welfare Vice-Director),<br />
                                    Soon Hao Jing, Miguel Tan, Wu Yutong,<br />
                                    Amanda Tay, Wan Nur Syafiqah & Cheng Xiangyun
                                </p>
                                <p>
                                    <b>Academic Director</b><br />
                                    Darren Wee
                                </p>
                                <p>
                                    <b>Academic Team</b><br />
                                    Richelle Lum, Xinran Hang, Jiaren Koh,<br />
                                    Dana Ko & Yuan Yuchuan
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/USC_secretariat.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Secretariat Committee</h3>
                            <i>Headed by Hong Shao Yang, Honorary General Secretary</i>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Assets Management Officer</b><br />
                                    Audrey Chua
                                </p>
                                <p>
                                    <b>Creative Head for Spaces</b><br />
                                    Ng Aik Wei Marcus
                                </p>
                                <p>
                                    <b>Communication Officer</b><br />
                                    Chen Huijia
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/USC_financecomm.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Finance Committee</h3>
                            <i>Headed by Edwin Luke Wee, Honorary Financial Secretary</i>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Deputy Honorary Financial Secretary</b><br />
                                    Sagar Shah
                                </p>
                                <p>
                                    <b>Business Development Officer</b><br />
                                    Xiao Ying (External) & Keegan Sim (Internal)
                                </p>
                                <p>
                                    <b>Marketing Officer</b><br />
                                    Denise Yong, Deborah Goh
                                </p>
                                <p>
                                    <b>Finance Attache</b><br />
                                    Micro Wong (Finance Attache Manager),<br />
                                    Maria Teresa Boey & Vivian Chan
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/USC_fopcomm.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Freshmen Orientation Committee</h3>
                            <i>Headed by Woo Qiyun, Freshmen Orientation Director</i>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>Deputy Director</b><br />
                                    Jeremy Png
                                </p>
                                <p>
                                    <b>Directors</b><br />
                                    Vanessa Tan (Finance), Carina Lim (Creative),<br />
                                    Melissa Tang (Public Relations) & Tammie Seethorm (Logistic)
                                </p>
                                <p>
                                    <b>Project Directors</b><br />
                                    Chng Yuqian (Camp), Ang Rong Yi (O’Week), Maria Teresa Boey (Events),<br />
                                    Sanaya Milind (Batch Project) & Li Xingyi (Flag)
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainTile">
            <div class="mainHeader" style="background-color: #002a90; margin-top: 1340px;">
                <div class="textPanel">
                    <h3 style="color: white; margin-top: 10px; padding-bottom: 10px;">House Committees</h3>
                </div>
            </div>
            <div class="mainContent">
                <div class="committeeTiles">
                    <img src="~/images/House_Ursaia.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Ursaia</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Edward Goh Khiam Li 
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                    Koh Kai Qian
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                    Anita Peng
                                </p>
                                <p>
                                    <b>Vice Orientation Group Leader</b><br />
                                    Devni Wijayaratne
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/House_Nocturna.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Nocturna</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Joash Tan
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                    Srivatsa P 
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                    Tee Shu Yun
                                </p>
                                <p>
                                    <b>Vice Orientation Group Leader</b><br />
                                    Natasha Tan 
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/House_Ianthe.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Ianthe</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Keloysius Mak
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                    Darshini Revichandren
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                    Joyce Foo Wei Wen
                                </p>
                                <p>
                                    <b>Vice Orientation Group Leader</b><br />
                                    Rebecca Ong Chien Lin
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/House_Triton.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Triton</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Jaron Chan Jin Jia 
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                    Darren Tan
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                    Kit Yung Tan
                                </p>
                                <p>
                                    <b>Vice Chief Orientation Group Leader</b><br />
                                    Ong Ci Wen
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/House_Ankaa.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Ankaa</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Jakkarin Sae-Tiew 
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                     Keegan Sim
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                     Chia Yu Xuan
                                </p>
                                <p>
                                    <b>Vice Chief Orientation Group Leader</b><br />
                                    Vivian Lai
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="committeeTiles">
                    <img src="~/images/House_Saren.jpg" />
                    <div class="mainHeader">
                        <div class="textPanel">
                            <h3>Saren</h3>
                        </div>
                    </div>
                    <div class="mainContent" style="padding-bottom: 20px">
                        <div class="textPanel">
                            <p>
                                <p>
                                    <b>House Captain</b><br />
                                    Ng Aik Wei Marcus
                                </p>
                                <p>
                                    <b>Vice House Captain</b><br />
                                    Stacey Yip
                                </p>
                                <p>
                                    <b>Chief Orientation Group Leader</b><br />
                                    Pan Haozhe
                                </p>
                                <p>
                                    <b>Vice Chief Orientation Group Leader</b><br />
                                    Emmalene Ng
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear" />
        <div class="mainTile">
            <div class="mainHeader" style="background-color: #002a90;">
                <div class="textPanel">
                    <h3 style="color: white; margin-top: 10px; padding-bottom: 10px;">Interest Groups</h3>
                </div>
            </div>
            <div class="mainContent">
                <div class="igItem">
                    <asp:Repeater runat="server" ID="listIG">
                        <ItemTemplate>
                            <div id="igTile">
                                <div id="igHeader">
                                    <h4>
                                        <%#DataBinder.Eval(Container.DataItem, "Name")%></h4>
                                    <p>
                                        Managed by <a href="mailto:<%#DataBinder.Eval(Container.DataItem, "Email")%>"><%#DataBinder.Eval(Container.DataItem, "ContactPerson")%></a>
                                    </p>
                                </div>
                                <p>
                                    <%#DataBinder.Eval(Container.DataItem, "Description")%>
                                </p>
                            </div>
                        </ItemTemplate>
                    </asp:Repeater>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
</asp:Content>

